@import "tailwindcss";

/* Βασικό Reset */
:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Σιγουρεύουμε ότι το background είναι σκούρο από πίσω */
    background-color: #1a1a1a;
    color: #ffffff;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}